p, ul{
    border:2px solid skyblue;
    padding: .5em;
}
.block, li{
    border:2px solid navy;
    padding: .5em;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin:0px 10px;
}
.block{
    display: block;
}